<section class="content">
        <h1>Dodaj lek</h1>
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form">
                <form (ngSubmit)="onSubmit()">
                  <div>
                    <label>Nazwa leku: </label> <br />
                    <input
                      type="text"
                      placeholder="Nazwa"
                      [(ngModel)]="name"
                      name="name"
                    />
                  </div>
                  <div>
                    <label>Nazwa producenta: </label> <br />
                    <input
                      type="text"
                      placeholder="Producent"
                      [(ngModel)]="company"
                      name="company"
                    />
                  </div>
                  <div>
                    <label>Opis leku: </label> <br />
                    <input
                      type="text"
                      placeholder="Opis"
                      [(ngModel)]="description"
                      name="description"
                    />
                  </div>
                  <div>
                    <label>Skład: </label> <br />
                    <input
                      type="text"
                      placeholder="Skład"
                      [(ngModel)]="composition"
                      name="composition"
                    />
                  </div> <br />
                  <button type="submit" class="btn btn-success">Dodaj</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      