<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" [routerLink]="['/add_place']">Zarządzaj aptekami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/map']">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" [routerLink]="['/login']">Zarządzaj</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" [routerLink]="" (click)="myEvent()">Wyloguj</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Apteczka</h3>
  </div>
  <div><router-outlet></router-outlet></div>

  <footer class="footer"><p>&copy; Apteczkowo 2018</p></footer>
</div>
<!-- /container -->
