<section class="content">
  <h1>Edytuj aptekę</h1>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form">
          <form (ngSubmit)="onSubmit()">
            <div>
              <label>Nazwa apteki: </label> <br />
              <input
                type="text"
                placeholder="Nazwa"
                [(ngModel)]="name"
                name="name"
              >
            </div>
            <div>
              <label>Nazwa Firmy: </label> <br />
              <input
                type="text"
                placeholder="Firma"
                [(ngModel)]="company"
                name="company"
              />
            </div>
            <div>
              <label>Opis: </label> <br />
              <input
                type="text"
                placeholder="Opis"
                [(ngModel)]="description"
                name="description"
              />
            </div>
            <div>
              <label>Lat: </label> <br />
              <input
                type="number"
                placeholder="Lat"
                [(ngModel)]="lat"
                name="Lat"
              />
            </div>
            <div>
              <label>Lng: </label> <br />
              <input
                type="number"
                placeholder="Lng"
                [(ngModel)]="lng"
                name="Lng"
              />
            </div> <br />
            <button type="submit" class="btn btn-success">Zapisz</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
