<section class="content">
   <h1>Medicine list</h1>
   <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="table-container">
               <table class="table table-filter">
                  <tbody>
                     <tr>
                        <td>
                           <a href="#" class="pull-left">
                           <img src="/assets/medicine-128.png"/>
                           </a>
                        </td>
                        <td>
                           <div class="media">
                              <div class="media-body">
                                 <span class="media-meta pull-right">SuperLab xxx</span>
                                 <h4 class="title">
                                    Lorem Impsum
                                    <span class="pull-right pagado">(Pagado)</span>
                                 </h4>
                                 <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <a href="#" class="pull-left">
                           <img src="/assets/medicine-128.png"/>
                           </a>
                        </td>
                        <td>
                           <div class="media">
                              <div class="media-body">
                                 <span class="media-meta pull-right">SuperLab xxx</span>
                                 <h4 class="title">
                                    Lorem Impsum
                                    <span class="pull-right pendiente">(Pendiente)</span>
                                 </h4>
                                 <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <a href="#" class="pull-left">
                           <img src="/assets/medicine-128.png"/>
                           </a>
                        </td>
                        <td>
                           <div class="media">
                              <div class="media-body">
                                 <span class="media-meta pull-right">ChinaLab 123</span>
                                 <h4 class="title">
                                    Lorem Impsum
                                    <span class="pull-right cancelado">(Cancelado)</span>
                                 </h4>
                                 <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <a href="#" class="pull-left">
                           <img src="/assets/medicine-128.png"/>
                           </a>
                        </td>
                        <td>
                           <div class="media">
                              <div class="media-body">
                                 <span class="media-meta pull-right">ChinaLab 123</span>
                                 <h4 class="title">
                                    Lorem Impsum
                                    <span class="pull-right pagado">(Pagado)</span>
                                 </h4>
                                 <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <a href="#" class="pull-left">
                           <img src="/assets/medicine-128.png"/>
                           </a>
                        </td>
                        <td>
                           <div class="media">
                              <div class="media-body">
                                 <span class="media-meta pull-right">Febrero 13, 2016</span>
                                 <h4 class="title">
                                    Lorem Impsum
                                    <span class="pull-right pendiente">(Pendiente)</span>
                                 </h4>
                                 <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>

