<section class="content">
  <h1>Dodaj aptekę</h1>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form">
          <form (ngSubmit)="onSubmit()">
            <div>
              <label>Nazwa apteki: </label> <br />
              <input
                type="text"
                placeholder="Nazwa"
                [(ngModel)]="login"
                name="name"
              />
            </div>
            <div>
              <label>Nazwa Firmy: </label> <br />
              <input
                type="text"
                placeholder="Firma"
                [(ngModel)]="login"
                name="company"
              />
            </div>
            <div>
              <label>Opis: </label> <br />
              <input
                type="text"
                placeholder="Opis"
                [(ngModel)]="password"
                name="description"
              />
            </div>
            <div>
              <label>Adres: </label> <br />
              <input
                type="text"
                placeholder="Adres"
                [(ngModel)]="password"
                name="address"
              />
            </div> <br />
            <button type="submit" class="btn btn-success">Dodaj</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
