<section class="content">
       <div class="panel panel-default">
          <div class="panel-body">
             <img src="{{item.image}}"/>
             <div class="media">
                <div class="media-body">
                <span class="media-meta pull-right">{{item.company}}</span>
                <h4 class="title">{{item.name}}</h4>
                <p class="summary">{{item.description}}</p>               
              </div>
            </div>
         </div>
         </div>
 </section>