  <div class="jumbotron">
    <h1 class="display-3">Potęga leczenia</h1>
    <p class="lead">
      Często nie zdajemy sobie sprawy, jak ciekawy i niezwykły jest świat
      dookoła. Spójrzmy, na zwykłe lekarstwa, pozwalają one poprawiać stan
      zdrowia, likwidować infekcje i wiele innych. W Naszej sieci aptek
      znajdziesz pigułki dobrane do swoich potrzeb.
    </p>
    <p>
      <a
        class="btn btn-lg btn-success"
        [routerLink]="['/medicines/list']"
        role="button"
        >Sprawdź ofertę</a
      >
    </p>
    <p>
      <a
        class="btn btn-lg btn-success"
        [routerLink]="['/medicines/search']"
        role="button"
        >Wyszukaj</a
      >
    </p>
  </div>